.section-btns {
  display: grid;
  grid-template-columns: 3fr 3fr 2fr;
  grid-template-rows: 50px;
  column-gap: 30px;
  grid-column: 1;
  grid-row: 2/3;
}
.btn {
  font-family: var(--text-font);
  letter-spacing: 1px;
  border: none;
  border-radius: 10px;
}
.btn-on {
  grid-column: 1;
  grid-row: 1;
  color: var(--text-color);
  background-color: var(--btn1-color);
  transition: all 200ms ease;
}
.btn-on:hover {
  cursor: pointer;
  background-color: var(--btn1-hover);
}
.btn-off {
  grid-column: 2;
  grid-row: 1;
  background-color: var(--btn2-color);
  transition: all 200ms ease;
}
.btn-off:hover {
  cursor: pointer;
  background-color: var(--btn2-hover);
}
.btn-cls {
  grid-column: 3;
  grid-row: 1;
  background-color: var(--btn3-color);
  transition: all 200ms ease;
}
.btn-cls:hover {
  cursor: pointer;
  background-color: var(--btn2-hover);
}
