.container-sections {
  display: grid;
  margin: 3.5rem 7rem 2.5rem;
  grid-template-columns: 2fr 1fr;
  column-gap: 5em;
}
.container-sections > form {
  display: grid;
  grid-template-rows: auto 6em;
  row-gap: 2.5em;
}
@media only screen and (max-width: 1024px) {
  .container-sections {
    margin: 3.2rem 5.2rem 2.2rem;
    column-gap: 3.8em;
  }
}
@media only screen and (max-width: 876px) {
  .container-sections {
    margin: 3rem 4rem 3rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    column-gap: 0em;
    row-gap: 2em;
  }
}
@media only screen and (max-width: 768px) {
  .container-sections {
    margin: 2.5rem 4rem 3rem;
  }
  .container-sections > form {
    grid-template-rows: auto 5em;
    row-gap: 2.2em;
  }
}
@media only screen and (max-width: 640px) {
  .container-sections {
    margin: 1.5rem 2.5rem 2rem;
  }
  .container-sections > form {
    grid-template-rows: auto 4.2em;
    row-gap: 1.8em;
  }
}
@media only screen and (max-width: 492px) {
  .container-sections {
    margin: 1.2rem 2rem 1.8rem;
  }
  .container-sections > form {
    grid-template-rows: auto 3.8em;
    row-gap: 1.4em;
  }
}