.section-input {
  height: 100%;
  grid-column: 1;
}
.card {
  height: 100%;
  padding: 2.5em 50px;
  background-color: var(--card-bg);
  border-radius: 10px;
  box-shadow: inset 0 0 5px 3px var(--toggle-bg);
}
.card > label, .msg-result > label {
  display: inline-block;
  margin-bottom: 1em;
  font-size: 16px;
}
.card-input {
  display: grid;
  grid-template-rows: 12em 1em;
  row-gap: .5rem;
}
.text {
  width: 100%;
  padding: 20px 25px;
  resize: none;
  color: var(--text);
  border-radius: 10px;
}
.input {
  font-size: 24px;
  background: none;
  border-color: var(--card-border);
}
.input:focus {
  outline: none !important;
  border: 1px solid var(--card-focus);
}
.card-input > p {
  text-align: right;
  font-size: 12px;
}
.section-btns {
  display: grid;
  grid-template-columns: 3fr 3fr 2fr;
  grid-template-rows: 3.3em;
  column-gap: 30px;
  grid-column: 1;
  grid-row: 2/3;
}
.btn {
  color: var(--text-btns);
  font-family: var(--text-font);
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  border-radius: 10px;
  transition: all 200ms ease;
}
.btn:hover{
  margin-top: 2px;
  margin-left: 1px;
  border-right-width: 3px;
  border-bottom-width: 4px;
  cursor: pointer;
}
.btn:active{
  margin-top: 5px;
  margin-left: 3px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.btn-on {
  grid-column: 1;
  grid-row: 1;
  background-color: var(--btn1-bg);
  border-right: 5px solid var(--btn1-border);
  border-bottom: 7px solid var(--btn1-border);
}
.btn-off {
  grid-column: 2;
  grid-row: 1;
  background-color: var(--btn2-bg);
  border-right: 5px solid var(--btn2-border);
  border-bottom: 7px solid var(--btn2-border);
}
.btn-cls {
  grid-column: 3;
  grid-row: 1;
  background-color: var(--btn3-bg);
  border-right: 5px solid var(--btn3-border);
  border-bottom: 7px solid var(--btn3-border);
}
@media only screen and (max-width: 1024px) {
  .card {
    padding: 2em 43px;
  }
}
@media only screen and (max-width: 876px) {
  .input {
    font-size: 23px;
  }
}
@media only screen and (max-width: 768px) {
  .card {
    padding: 1.8em 40px;
  }
  .card > label, .msg-result > label {
    font-size: 15px;
  }
  .input {
    font-size: 21px;
  }
  .section-btns {
    grid-template-rows: 3em;
  }
}
@media only screen and (max-width: 640px) {
  .card {
    padding: 1.3em 35px;
  }
  .card > label, .msg-result > label {
    font-size: 14px;
  }
  .input {
    font-size: 18px;
  }
  .section-btns {
    grid-template-rows: 2.8em;
    column-gap: 25px;
  }
  .btn {
    font-size: 13px;
  }
}
@media only screen and (max-width: 492px) {
  .card {
    padding: 1.5em 36px;
  }
  .card > label, .msg-result > label {
    font-size: 13px;
  }
  .card-input {
    grid-template-rows: 12em 1.8em;
  }
  .input {
    font-size: 16px;
  }
  .section-btns {
    grid-template-rows: 2.5em;
    column-gap: 20px;
  }
  .btn {
    letter-spacing: .5px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 394px) {
  .section-btns {
    grid-template-rows: 2.5em;
    column-gap: 15px;
  }
  .btn {
    letter-spacing: 0px;
  }
}