.section-input {
  height: 100%;
  grid-column: 1;
  grid-row: 1/2;
}
.card {
  height: 100%;
  padding: 25px 35px;
  background-color: var(--card-color);
  border-radius: 10px;
}
.card > label, .msg-result > label {
  display: inline-block;
  margin-bottom: 15px;
}
.card-input {
  display: grid;
  grid-template-rows: 18rem 1rem;
  row-gap: .5rem;
}
.text {
  width: 100%;
  padding: 20px 25px;
  color: var(--text-color);
}
.input {
  font-size: 24px;
  resize: none;
  background: none;
  border-color: var(--border-color);
  border-radius: 10px;
}
.input:focus {
  outline: none !important;
  border: 1px solid var(--border-focus);
}
.card-input > p {
  text-align: right;
  font-size: 12px;
}