div:where(.swal2-container) div:where(.swal2-popup) {
  width: 23em !important;
  padding: 1em 2em 1.85em !important;
  color: var(--text) !important;
  background-color: var(--card-bg) !important;
  border-radius: 12px !important;
  text-align: center !important;
}
div:where(.swal2-icon) {
  margin-top: 1em !important;
}
div:where(.swal2-container) div:where(.swal2-icon).swal2-info {
  width: 4.5em !important;
  height: 4.5em !important;
  color: var(--alert-icon-info-bg) !important;
  border-color: var(--alert-icon-info-border) !important;
}
div:where(.swal2-container) div:where(.swal2-icon).swal2-error {
  border-color: var(--alert-icon-error-border) !important;
}
div:where(.swal2-container) div:where(.swal2-icon).swal2-error [class^=swal2-x-mark-line] {
  background-color: var(--alert-icon-error-bg) !important;
}
div:where(.swal2-container) div:where(.swal2-icon).swal2-success .swal2-success-ring {
  border-color: var(--alert-icon-success-border) !important;
}
div:where(.swal2-container) div:where(.swal2-icon) .swal2-icon-content {
  font-size: 3.5em !important;
}
div:where(.swal2-container) h2:where(.swal2-title) {
  font-size: 20px !important;
}
div:where(.swal2-container) .swal2-html-container {
  margin-top: .8em !important;
  font-size: 15px !important;
}
div:where(.swal2-container) button:where(.swal2-styled) {
  height: 45px !important;
  padding: .625em 1.6em !important;
  border-radius: 0.5em !important;
  box-shadow: none !important;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  color: var(--text-btns) !important;
  background: var(--alert-btn-bg) !important;
  border-right: 4px solid var(--alert-btn-border) !important;
  border-bottom: 6px solid var(--alert-btn-border) !important;
  transition: all 200ms ease;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm:hover {
  transform: translateX(.125em) !important;
  transform: translateY(.125em) !important;
  border-right-width: 3px !important;
  border-bottom-width: 4px !important;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm:active {
  transform: translateX(.2em) !important;
  transform: translateY(.2em) !important;
  border-right-width: 1px !important;
  border-bottom-width: 2px !important;
}