.container-header {
  display: grid;
  margin: 0 7rem;
  padding: 4rem 0 0;
  height: 9.5rem;
  grid-template-columns: 120px 5fr 1fr;
}
.container-header > button {
  height: 72px;
  width: 72px;
  margin: auto 0;
  background: var(--info-bg);
  border: none;
  border-radius: 50%;
  box-shadow: 3.5px 3.5px 2px var(--info-border);
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
}
.container-header > button:hover {
  margin-top: 9.5px;
  margin-left: 1px;
  box-shadow: 3px 3px 2px var(--info-border);
  cursor: pointer;
}
.container-header > button:active {
  margin-top: 11.5px;
  margin-left: 2px;
  box-shadow: 1.5px 1.5px var(--info-border);
}
.container-header > button > span {
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-image: url("/bmo.svg");
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: bottom;
}
.container-header > img {
  height: 5rem;
  margin: auto 0;
}
@media only screen and (max-width: 1024px) {
  .container-header {
    margin: 0 5.2rem;
    grid-template-columns: 105px 5fr 1fr;
  }
  .container-header > button {
    height: 68px;
    width: 68px;
  }
  .container-header > button:hover {
    margin-top: 12px;
  }
  .container-header > button:active {
    margin-top: 14px;
  }
  .container-header > button > span {
    background-size: 30px;
  }
  .container-header > img {
    height: 4.5rem;
  }
}
@media only screen and (max-width: 876px) {
  .container-header {
    margin: 0 4rem;
  }
}
@media only screen and (max-width: 768px) {
  .container-header {
    padding: 3rem 0 0;
    height: 8rem;
    grid-template-columns: 90px 5fr 1fr;
  }
  .container-header > button {
    height: 62px;
    width: 62px;
  }
  .container-header > button:hover {
    margin-top: 11px;
  }
  .container-header > button:active {
    margin-top: 13px;
  }
  .container-header > button > span {
    background-size: 27px;
  }
  .container-header > img {
    height: 4rem;
  }
}
@media only screen and (max-width: 640px) {
  .container-header {
    margin: 0 2.5rem;
    padding: 2rem 0 0;
    height: 6.5rem;
    grid-template-columns: 70px 5fr 1fr;
  }
  .container-header > button {
    height: 45px;
    width: 45px;
  }
  .container-header > button:hover {
    margin-top: 15px;
  }
  .container-header > button:active {
    margin-top: 17px;
  }
  .container-header > button > span {
    background-size: 20px;
  }
  .container-header > img {
    height: 2.8rem;
  }
}
@media only screen and (max-width: 492px) {
  .container-header {
    margin: 0 2rem;
    padding: 1.5rem 0 0;
    height: 5rem;
    grid-template-columns: 60px 5fr 1fr;
  }
  .container-header > button {
    height: 38px;
    width: 38px;
  }
  .container-header > button:hover {
    margin-top: 10px;
  }
  .container-header > button:active {
    margin-top: 12px;
  }
  .container-header > button > span {
    background-size: 16px;
  }
  .container-header > img {
    height: 2.5rem;
  }
}
