.container-footer {
  position: absolute;
  display: flex;
  height: 30px;
  width: 100%;
  bottom: 0;
  justify-content: center;
}
.credits {
  color: var(--white);
  font-size: 13px;
  font-weight: bold;
}
.credits > a,
.credits > a:-webkit-any-link {
  color: var(--white);
  font-weight: bolder;
  text-decoration: none;
}
.credits > a:hover {
  color: var(--info-bg);
}
@media only screen and (max-width: 876px) {
  .container-footer {
    position: relative;
    bottom: 0;
  }
}
@media only screen and (max-width: 640px) {
  .credits {
    font-size: 12px;
  }
}
@media only screen and (max-width: 492px) {
  .container-footer {
    height: 80px;
    padding: 0 2rem 15px;
    text-align: center;
    align-items: center;
  }
}