.section-output {
  grid-column: 2;
}
.section-output > .card {
  padding-bottom: 0em;
}
.msg-default {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
}
.msg-default > div {
  display: flex;
  min-height: 15rem;
  justify-content: center;
  align-items: flex-end;
}
.msg-default > div > img {
  width: 10rem;
  height: auto;
}
.msg-default > p {
  margin-top: 6px;
  font-size: 14px;
}
.result {
  display: grid;
  grid-template-rows: 16em 6em;
  row-gap: 2.5em;
}
.output {
  padding-bottom: 0px;
  font-size: 16px;
  background: var(--result-bg);
  border-color: var(--card-border);
}
.result > div {
  display: grid;
  grid-column: 1;
  grid-row: 2;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 3.3em;
  column-gap: 20px;
  justify-content: center;
}
.btn-copy {
  background-color: var(--alert-btn-bg);
  border-right: 5px solid var(--alert-btn-border);
  border-bottom: 7px solid var(--alert-btn-border);
}
.btn-shared {
  height: 55px;
  width: 55px;
  margin-left: auto;
  background: var(--btn4-bg);
  border: none;
  border-radius: 50%;
  box-shadow: 3.5px 3.5px 2px var(--btn4-border);
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
}
.btn-shared:hover {
  margin-top: 1px;
  margin-right: -1px;
  box-shadow: 2.5px 2.5px 2px var(--btn4-border);
  cursor: pointer;
}
.btn-shared:active {
  margin-top: 2px;
  margin-right: -2px;
  box-shadow: 1px 1px 1px var(--btn4-border);
}
.btn-shared > svg {
  display: block;
  margin: auto;
}
@media only screen and (max-width: 1024px) {
  .msg-default > div {
    min-height: 14rem;
  }
  .msg-default > div > img {
    width: 9rem
  }
  .msg-default > p {
    font-size: 13px;
  }
  .result {
    grid-template-rows: 15.5em 6em;
  }
}
@media only screen and (max-width: 876px) {
  .section-output {
    grid-column: 1;
  }
  .msg-default > div {
    min-height: 10rem;
  }
  .msg-default > div > img {
    width: 10rem
  }
  .section-output > .card {
    padding-bottom: 2em;
  }
  .msg-default > p {
    margin-bottom: 10px;
  }
  .result {
    grid-template-rows: 12em 3.5em;
  }
  .result > div {
    grid-template-columns: 5fr 1fr;
  }
}
@media only screen and (max-width: 768px) {
  .section-output > .card {
    padding-bottom: 1.8em;
  }
  .result > div {
    grid-template-rows: 3em;
  }
  .btn-shared {
    height: 52px;
    width: 52px;
  }
}
@media only screen and (max-width: 640px) {
  .msg-default > div {
    min-height: 9rem;
  }
  .msg-default > div > img {
    width: 8rem
  }
  .msg-default > h4 {
    font-size: 14px;
  }
  .section-output > .card {
    padding-bottom: 1.3em;
  }
  .msg-default > p {
    margin-bottom: 15px;
  }
  .result {
    row-gap: 1.8em;
  }
  .result > div {
    grid-template-rows: 2.8em;
    grid-template-columns: 4fr 1fr;
  }
  .output {
    font-size: 15px;
  }
  .btn-shared {
    height: 50px;
    width: 50px;
  }
}
@media only screen and (max-width: 492px) {
  .msg-default > div {
    min-height: 8rem;
  }
  .msg-default > div > img {
    width: 7rem
  }
  .msg-default > h4 {
    font-size: 13px;
  }
  .section-output > .card {
    padding-bottom: 1em;
  }
  .result {
    row-gap: 1.5em;
  }
  .result > div {
    grid-template-rows: 2.5em;
    grid-template-columns: 3fr 1fr;
  }
  .output {
    font-size: 14px;
  }
  .btn-shared {
    height: 45px;
    width: 45px;
  }
}
@media only screen and (max-width: 394px) {
  .msg-default > div {
    width: 50%;
  }
  .msg-default > h4 {
    font-size: 12.5px;
  }
}